<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CamCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CamCapture.Properties.Settings>
            <setting name="camIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="directoryVideo" serializeAs="String">
                <value>video</value>
            </setting>
            <setting name="directoryPicture" serializeAs="String">
                <value>img</value>
            </setting>
            <setting name="imageInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="recordDuration" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="videoDuration" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="fps" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="boxWidth" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="boxHeight" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="boxTop" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="countDown" serializeAs="String">
                <value>10</value>
            </setting>
        </CamCapture.Properties.Settings>
    </userSettings>
</configuration>